<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <define name="custom.hostname" scope="system" class="com.longi.msp.common.log.CustomHostNamePropertyDefiner">
        <!-- k8s pod name最后5位 -->
        <maxLength>5</maxLength>
        <defaultValue>localhost</defaultValue>
    </define>
    <property name="DEFAULT_CONSOLE"
              value="%date [%X{traceId}] [%X{spanId}] [%thread] %-5level [%logger{50}] %file:%line - %msg%n"/>

    <property name="DEFAULT_CONSOLE_PRO"
              value="%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n"/>
    <property name="LOG_HOME" value="logs/"/>

    <springProperty name="APP_NAME" scope="context" source="spring.application.name" defaultValue="lmsp-osca"/>

    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <encoder charset="UTF-8">
            <pattern>${DEFAULT_CONSOLE}</pattern>
        </encoder>
    </appender>

    <appender name="APPENDER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志名称，如果没有File 属性，那么只会使用FileNamePattern的文件路径规则如果同时有<File>和<FileNamePattern>，那么当天日志是<File>，明天会自动把今天的日志改名为今天的日期。即，<File> 的日志都是当天的。-->
        <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间-->
            <FileNamePattern>${LOG_HOME}/${APP_NAME}-${custom.hostname}-%d{yyyy-MM-dd}.part_%i.log</FileNamePattern>
            <!--只保留最近30天的日志-->
            <maxHistory>30</maxHistory>
            <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
            <!--<totalSizeCap>1GB</totalSizeCap>-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB,本篇设置为1KB，只是为了演示 -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<maxFileSize>1KB</maxFileSize>-->
        <!--</triggeringPolicy>-->
        <encoder charset="UTF-8">
            <pattern>${DEFAULT_CONSOLE}</pattern>
        </encoder>
    </appender>

    <!-- 如果业务开启审计日志功能，则取消注释
    <appender name="esLog" class="com.longi.msp.log.appender.EsLogAppender">
    </appender> -->


    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPENDER_FILE"/>
        <!-- 如果业务开启审计日志功能，则取消注释
        <appender-ref ref="esLog"/>-->
    </root>
</configuration>